name: .NET Core

on: [push, pull_request]  

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.301
    - name: Install dependencies
      run: dotnet restore **/*.sln
    - name: Build
      run: dotnet build --configuration Release --no-restore **/*.sln
    - name: Test
      run: dotnet test --no-restore --verbosity normal **/*.sln
    - name: Create package
      run: dotnet pack -v normal -c Release --no-restore --include-source -p:PackageVersion=$GITHUB_RUN_ID Lindhart.Analyser.MissingAwaitWarning/Lindhart.Analyser.MissingAwaitWarning/Lindhart.Analyser.MissingAwaitWarning/Lindhart.Analyser.MissingAwaitWarning.csproj
    - name: Upload package as Artifact
      uses: actions/upload-artifact@v2
      with:
        name: nupkg
        path: ./Lindhart.Analyser.MissingAwaitWarning/Lindhart.Analyser.MissingAwaitWarning/Lindhart.Analyser.MissingAwaitWarning/bin/**/*.nupkg
